* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(55, 59, 17);
}
.calculator{
    position: relative;
    display: grid;
}
.calculator h1{
    grid-column: span 4;
    height: 5px;
    text-align: center;
    border: none;
    outline: none;
    padding: 60px;
    font-size: 40px; 
    font-weight: 900;
    background-color: aqua;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 90px;
    height: 90px;
    background: rgb(36, 33, 33);
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: #ebe1e1;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.calculator span.clear {
    grid-column: span 2;
    width: 180px;
    background: rgb(71, 119, 71);
    color: #fff;
}
.calculator span:active{
    background: rgb(161, 112, 5);
    color: #fff;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background: rgb(161, 112, 5);
    height: 90px;
}
.calculator span.plus{
    height: 180px; 
}